@import './fonts/Apercu/stylesheet.css';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body {
	overflow: hidden;
	font-family: 'Apercu Pro';
	background: #faf4f2;
	/* cursor: url(https://www.davidwilliambaum.com//assets/images/cursor.svg) 16 16,auto; */
}

.App {
	width: 200vw;
	height: 200vh;
	overflow: hidden;
	transition: transform .4s ease-out;
	/* border: 1px solid red; */
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.img {
	width: 500px;
	height: 800px;
	position: absolute;
	overflow: hidden;
	transition: transform .6s cubic-bezier(.785,.135,.15,.86) .1s, filter .3s ease, opacity .6s ease;
}

.img img {
	filter: grayscale(70%);
	max-width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: transform .6s cubic-bezier(.785,.135,.15,.86) .1s, filter .3s ease;
}

.img:hover img {
	filter: grayscale(50%);
	transform: translate(-50%, -50%) scale(1.3);
	z-index: 1;
}

.hover img {
	filter: grayscale(50%);
	transform: translate(-50%, -50%) scale(1.3);
	z-index: 1;
}

.bg {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 72px 1fr 1fr 1fr 1fr 72px;
}

.bg span:not(:last-child) {
	border-right: 1px solid #cabdbd;
}

header {
	width: 71px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 2;
	background: #faf4f2;
	font-family: 'Apercu Pro';
	font-weight: 400;
	font-size: .875em;
	align-items: center;
}

.burger {
	height: 4.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	justify-content: center;
	border-bottom: 1px solid #cabdbd;
}

.burger div {
    display: block;
    width: 1.3em;
    height: 1.1em;
    color: #000;
    overflow: hidden;
	position: relative;
	margin-bottom: 0.7em;
}

.burger span {
	position: absolute;
	display: block;
	width: 100%;
	height: 1px;
	background-color: #000;
	-webkit-transition: -webkit-transform .6s ease-in-out;
	transition: -webkit-transform .6s ease-in-out;
	transition: transform .6s ease-in-out;
	transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
}

.burger span:first-child {
    top: 0;
}

.burger span:nth-child(2) {
    top: calc(50% - 0.5px);
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.burger span:nth-child(3) {
    bottom: 0;
}

.header-contact {
	padding: 1em 0;
	border-top: 1px solid #000;
	width: 100%;
	text-align: center;
}

.header-title {
	position: absolute;
	top: 50%;
	left: 50%;
	white-space: nowrap;
	transform: translate(-50%, -50%) rotate(-90deg);
}

.central-word {
	font-family: 'Canela';
	font-size: calc(40px + 92*(100vw - 320px)/1600);
	position: absolute;
	z-index: 3;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #cabdbd;
	pointer-events: none;
	font-weight: 400;
}

.secondary-text {
	font-size: 1.25em;
	text-transform: uppercase;
	position: absolute;
	bottom: 20px;
	left: 140px;
	font-weight: 400;
	width: 300px;
	z-index: 3;
}

.data {
	top: 20%;
	transition: all 1s ease;
	transition-delay: .4s;
}

.data-hide {
	opacity: 0;
}

.back {
	width: 60px;
	height: 60px;
	display: block;
	border-radius: 50%;
	border: 2px solid rgb(110, 197, 255);
	margin-bottom: 40px;
	transition: all .3s ease;
}

.back:hover {
	background: rgb(110, 197, 255);
}

@media screen and (max-width: 1000px) {
	.img {
		width: 100px;
		height: 150px;
		position: absolute;
		overflow: hidden;
		transition: transform .6s cubic-bezier(.785,.135,.15,.86) .1s, filter .3s ease, opacity .6s ease;
	}
}